header{
    height: 140px;
    background-color: white;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -20px;
}

#logo_image{
    float: left;
    max-height: 140px;
    max-width: 150px;
    margin-right: 25px;
}

#about_image{
    max-width: 200px;
}

#logo_link{
    text-decoration: none;
    color: black;    
}

#header_title{
    font-size: 280%;
    font-family: Impact,  sans-serif;
    color: black;
    text-align: left;
    margin-bottom: 0;
    font-weight: bold;
    padding-top: 25px;
}

#subheader_title{
    font-family: Impact,  sans-serif;
    color: black;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 5px !important;
}

.continue_reading_btn{
    background-color: #D3D3D3;
    margin-top: 15px;
}

body {
    margin: 0;
}

#navigation_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

#navigation_bar li{
    float: left;
    margin-right: 10px;
}

#navigation_bar li a{
    display: block;
    padding: 8px;
    font-weight: bold;
    color: black;
    font-size: medium;
}

#container{
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 30px;
}

#posts{
    width: 80%;
    float: left;
}

.post_wrapper{
    height: 270px;
}

.title_header{
    color: black;
    font-weight: 600;
}

.title_header > a{
    text-decoration: none;
    color: black; 
}

.post_excerpt{
    line-height: 1.5em;
    height: 9em;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.post_created_at{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #bc360a;
}

.post_continue_botton{
    margin-top: 20px;
}

.link_next_prev{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*a{text-decoration: none;}
*/
p{
    font-size: 18px !important;
}

li {
    font-size: 18px !important;
}
/* div, which may contain ul, li, etc. */
#sidebar{
    float: right;
    width: 20%;
    float: top;
    font-family: Impact, Charcoal, sans-serif;
    text-align: left;
}

div.post_wrapper div  a{
    color: black;
}

.sidebar_link{  
   /* text-decoration: none;*/
   color: black;
}

.sidebar_header{
    font-weight: bold;
}

.sidebar_topic_link{
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}


/* "list-style" applies to ul */
#sidebar_item{
    list-style: none;
}

.pagination_links{
    margin-top: 80px;
}

/* http://www.lwis.net/journal/2008/02/08/pure-css-sticky-footer/ */
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
footer {
    clear: both;
    position: relative;
    z-index: 10;
    margin-top: -3em;
    height: 80px;
    text-align: center;
    background-color: #D3D3D3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bitter, Georgia, serif;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal !important;
}

.typ {
    font-weight: 600;
}

.kwd {
    font-style: italic;
    font-weight: 600;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}

.linenums > li.L1, .linenums > li.L3, .linenums > li.L5, .linenums > li.L7, .linenums > li.L9 {
    background: #333 !important; 
}