header{
    height: 140px;
    background-color: white;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -20px;
}

#logo_image{
    float: left;
    max-height: 140px;
    max-width: 150px;
}

#about_image{
    max-width: 200px;
}

#logo_link{
    text-decoration: none;
    color: black;    
}

#header_title{
    font-size: 280%;
    font-family: Impact,  sans-serif;
    color: black;
    text-align: left;
    margin-bottom: 0;
    font-weight: bold;
    padding-top: 25px;
}

#subheader_title{
    font-family: Impact,  sans-serif;
    color: black;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.continue_reading_btn{
    background-color: #D3D3D3;
    margin-top: 15px;
}

body {
    margin: 0;
}

#navigation_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

#navigation_bar li{
    float: left;
    margin-right: 10px;
}

#navigation_bar li a{
    display: block;
    padding: 8px;
    font-weight: bold;
    color: black;

}

#container{
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 30px;
}

#posts{
    width: 70%;
    float: left;
}

.post_wrapper{
    height: 270px;
}

.title_header{
    color: black;
    font-weight: 600;
}

.title_header > a{
    text-decoration: none;
    color: black; 
}

.post_excerpt{
    line-height: 1.5em;
    height: 9em;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.post_created_at{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #bc360a;
}

.post_continue_botton{
    margin-top: 20px;
}

.link_next_prev{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*a{text-decoration: none;}
*/
p{
    font-size: 120%;
    margin: 1.6em 0;
}
/* div, which may contain ul, li, etc. */
#sidebar{
    float: right;
    width: 25%;
    float: top;
    font-family: Impact, Charcoal, sans-serif;
    text-align: left;
}

div.post_wrapper div  a{
    color: black;
}

.sidebar_link{  
 /* text-decoration: none;*/
 color: black;
}

.sidebar_header{
    font-weight: bold;
}

.sidebar_topic_link{
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}


/* "list-style" applies to ul */
#sidebar_item{
    list-style: none;
}

.pagination_links{
    margin-top: 80px;
}

/* http://www.lwis.net/journal/2008/02/08/pure-css-sticky-footer/ */
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    text-align: center;
    background-color: #d5d5d5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bitter, Georgia, serif;
}
